{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Log In{% endblock %}</h1>
{% endblock %}

{% block content %}
  <form method="post">
    <br><br>
    <label for="content">What Genre would you like: </label>
    <input type="text" name="content" id="content" required>
    <br><br>
    <label for="minutes">Desired Runtime (minutes): </label>
    <input name="minutes" id="minutes" required>
    <br><br><br><br><br>
    <input type="submit" value="Recommend Show">
  </form>
{% endblock %}
