{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Log In{% endblock %}</h1>
{% endblock %}

{% block content %}
  <form method="post">
    <br><br>
    <label for="title">Show Title:</label>
    <input name="title" id="title" required>
    <br><br><br>
    <label for="content">Show Genre:</label>
    <input type="text" name="content" id="content" required>
    <br><br><br>
    <label for="minutes">Show Length (minutes):</label>
    <input name="minutes" id="minutes" required>
    <br><br><br>
    <label for="actor">Primary Actor:</label>
    <input name="actor" id="actor" required>
    <br><br><br><br><br>
    <input type="submit" value="Update Show">
  </form>
{% endblock %}
